* {
  font-family: 'Montserrat', Arial, sans-serif;
}
:root {
/* Verdes base */
--color-primary: #697254;   
--color-primary-light: #EBDDCD;
--color-primary-dark: #8C916C;

/* Tonos tierra */
--color-secondary: #92735C;
--color-secondary-light: #B69C85;

/* tonos neutros */
--color-neutral: #DBD0C4;

/* ===== Extra (opcional para UI states) ===== */
--color-bg: #DBD0C4;
--color-text: #2c2c2c;

/* Alerts */
--error: #FF3B3B;
--warning: #FFCC00;
--info: #0063F7;
--success: #06C270;
}

.bg-body-tertiary{
    background-color: var(--color-primary-light) !important;
}