* {
  font-family: 'Montserrat', Arial, sans-serif;
}

:root {
  /* Verdes base */
  --color-primary: #697254;
  --color-primary-light: #EBDDCD;
  --color-primary-dark: #8C916C;

  /* Tonos tierra */
  --color-secondary: #92735C;
  --color-secondary-light: #B69C85;

  /* tonos neutros */
  --color-neutral: #DBD0C4;

  /* ===== Extra (opcional para UI states) ===== */
  --color-bg: #DBD0C4;
  --color-text: #2c2c2c;

  /* Alerts */
  --error: #FF3B3B;
  --warning: #FFCC00;
  --info: #0063F7;
  --success: #06C270;
}

.bg-body-tertiary {
  background-color: var(--color-primary-light) !important;
}

.footer-container {
  align-self: end;
  width: 100%;
  height: 10%;
  background-color: #997373;
}

  .footer-clean {
    background-color: #EBDDCD;
    color: #555;
  }

  .logo {
    font-family: cursive;
    font-size: 2rem;
    color: #2f4f4f;
  }

  .footer-social {
    display: flex;

    /* background-color: red; */
    .bi {
      font-size: 1.5rem;
      color: #555;
      margin: 0 10px;
      transition: color 0.3s ease;
    }
  }


  .footer-text {
    font-size: 0.9rem;
    margin: 15px 0;
  }


  .footer-title {
    font-weight: 600;
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 10px;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


.lugares__container {
    background-color: white;
}

.ecotour-card {
    background-color: var(--color-primary-dark); 
    border: none;
    border-radius: 20px; 
    padding: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.ecotour-card img {
    border-radius: 10px; 
    height: 220px;
    object-fit: cover; 
    width: 100%;
}

.ecotour-card .card-body {
    background-color: var(--color-bg); /* Fondo en contraste dentro de la card */
    border-radius: 10px;
    margin-top: 15px;
    color: var(--color-text);
}

.ecotour-card .card-title {
    color: var(--color-text);
}

.eco-text-muted {
    color: black;
}


.ecotour-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(105, 114, 84, 0.4) !important; 
    z-index: 1;
}

.btn-eco-primary {
    background-color: var(--color-secondary);
    color: white;
    border: none;
}

.btn-eco-primary:hover {
    background-color: var(--color-secondary-light);
    color: white;
}

.btn-eco-secondary {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    border: none;
    font-weight: 600;
}

.btn-eco-secondary:hover {
    background-color: var(--color-primary-dark);
    color: white;
}