* {
  font-family: 'Montserrat', Arial, sans-serif;
}

:root {
  /* Verdes base */
  --color-primary: #697254;
  --color-primary-light: #EBDDCD;
  --color-primary-dark: #8C916C;

  /* Tonos tierra */
  --color-secondary: #92735C;
  --color-secondary-light: #B69C85;

  /* tonos neutros */
  --color-neutral: #DBD0C4;

  /* ===== Extra (opcional para UI states) ===== */
  --color-bg: #DBD0C4;
  --color-text: #2c2c2c;

  /* Alerts */
  --error: #FF3B3B;
  --warning: #FFCC00;
  --info: #0063F7;
  --success: #06C270;
}

.bg-body-tertiary {
  background-color: var(--color-primary-light) !important;
}

.footer-container {
  align-self: end;
  width: 100%;
  height: 10%;
  background-color: #997373;
}

  .footer-clean {
    background-color: #EBDDCD;
    color: #555;
  }

  .logo {
    font-family: cursive;
    font-size: 2rem;
    color: #2f4f4f;
  }

  .footer-social {
    display: flex;

    /* background-color: red; */
    .bi {
      font-size: 1.5rem;
      color: #555;
      margin: 0 10px;
      transition: color 0.3s ease;
    }
  }


  .footer-text {
    font-size: 0.9rem;
    margin: 15px 0;
  }


  .footer-title {
    font-weight: 600;
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 10px;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
/*Sidebar para carrito*/
.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 1050;
  display: flex;
  flex-direction: column;
}
/* abrir sidebar */
.sidebar.open {
  right: 0;
}
/* contenido sidebar */
.sidebar-header,
.sidebar-footer {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.sidebar-body {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

/* overlay oscuro */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 1040;
}
/* ocultar hasta hacer click */
#overlay.show {
  display: block;
}